.sidebar {
  grid-area: sidebar;
  height: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  background-color: #202020;
  width: 12%;
  position: fixed;
}

.logo {
  margin: 20px 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  background-color: #e62429;
  padding: 10px 2px;
}

.nav {
  display: flex;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 0 10px;
}

.nav li {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  padding: 5px 0;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #e62429;
}
