.form-container {
  display: flex;
  width: 30rem;
}

.form-container form {
  width: 100%;
}

.form-container input[type="text"] {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #e62429;
  outline: 0;
  color: #202020;
  margin-bottom: 15px;
  padding: 7px 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
}
.form-container input[type="text"]::placeholder {
  font-size: 18px;
  font-weight: 700;
}

.form-container input[type="text"]:focus {
  font-size: 18px;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.radio-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
}

.form-container input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 2px 8px;
  font-family: Arial;
  cursor: pointer;
  border-color: #e62429;
  border-radius: 3px;
  height: 35px;
  line-height: 35px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #e62429;
  color: #fff;
}

.first-check + label {
  background-color: #e62429;
  color: #fff;
}
