.container {
  display: flex;
  border-bottom: 1px solid #202020;
  flex-direction: row;
  flex-wrap: wrap;
}

.image {
  flex: 1;
}

.body {
  flex: 7;
}

.header {
  margin-bottom: 5px;
}

.header p {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.info {
  display: flex;
  flex-direction: row;
}

.info p {
  margin: 0;
  padding-right: 10px;
  color: gray;
}

.description {
  font-size: 14px;
}
